.main {
  margin-left: 10px;
}

label span {
    display: inline-block;
    width: 200px;
    text-align: right;
}

input, textarea, select {
    font: 1em sans-serif;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

label {
  position: relative;
}

.bingoTable {
  table-layout: fixed;
  border: 1px solid black;
  padding: 0px;
}

.bingoTable td {
  word-wrap:break-word;
  height: 140px;
  width: 140px;
  border: 1px solid black;
  text-align: center;
  padding: 0px;
}

.bingoTable th {
  word-wrap:break-word;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  padding: 0px;
}
